img {
    margin: 20px 0;
}


ul {
    display: inline-block;
    
    margin: 20px auto;
    padding-left: 0;
}




body {
    background-color: black;
    color: white;
    text-align: center;
    font-family: Arial, sans-serif;
}

a {
    display: inline-block;
    padding: 2px 50px; 
    text-decoration: none; 
    color: black; 
    background-color: ghostwhite; 
    border-radius: 5px; 
}
    a:hover {
        background-color: lightyellow; 
        color: floralwhite; 
        transition: all 0.3s ease; 
    }
body {
    
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
